argon2-cffi
async-generator
attrs
backcall
backports.entry-points-selectable
bleach
certifi
cffi
charset-normalizer
colorama
cycler
debugpy
decorator
defusedxml
distlib
entrypoints
filelock
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
patsy
pickleshare
Pillow
platformdirs
plotly
prometheus-client
prompt-toolkit
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywin32
pywinpty
pyzmq
qtconsole
QtPy
requests
scipy
Send2Trash
six
statsmodels
tenacity
terminado
testpath
tornado
traitlets
urllib3
virtualenv
wcwidth
webencodings
widgetsnbextension
